  #progress {
    transform: rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }
  
  .bg {
    stroke: var(--base-red);
    opacity: 0.3;
  }
  
  #progress .indicator {
    stroke: var(--base-red);
  }

.reveiws{
    display: flex;
    list-style: none;
    width: auto;
    height: 300px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
}

.review{
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px gray; 
    flex: 0 0 350px;
    background: var(--accent);
    margin: 0 20px 0 0;
    word-break: break-all;
}

.review p {
  margin-top: 50px;
}

.review:last-of-type {
    margin: 0;
  }
  
  @media (width<= 950px){
    .reveiws{
      height: 250px;
    }
    .review{
      flex: 0 0 300px;
    }
  }
  @media (width<= 480px){
    .reveiws{
      height: 250px;
    }
    .review{
      flex: 0 0 300px;
    }
  }
