.recipe__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    box-shadow: 0 0 5px gray;
  }
  
  .recipe__container img {
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .recipe__container p {
    position: relative;
    font-size: 12px;
  }
  
  .recipe__container h3 {
    font-weight: 500;
    height: 50px;
  }
  
  .info {
    height: fit-content;
    padding: 10px;
    text-align: left;
    z-index: -1;
  }
  
  .description {
    height: 30px;
  }
  
  .additional_info {
    margin: 5px 0;
    color: rgb(118, 118, 118);
  }