.modal-overlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 0;
}

.modal-content{
    display: flex;
    align-items: center;
    gap: 30px;
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    width: 52%;
    height: 80%;
    position: relative;
    top: 0;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    color: var(--base-red);
}