.reviews_page{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.form{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid var(--base-red);
    border-radius: 20px;
}

.reviews_page h4{
    color: var(--base-red);
    font-size: 38px;
    font-weight: 500;
    margin: 0;
}

.form input[type="submit"]{
    width: 20%;
    padding: 10px 0;
    margin-top: 15px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    color: #FFF;
    background-color: var(--base-red);
    border-radius: 20px;
}

@media (width<= 950px){
    .form{
        margin: 80px auto;
    }
  }
  
  @media (width<= 750px){
    .form{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
  }
  
  @media (width<= 480px){
    .form{
        margin: 0;
        gap: 10px;
    }
  }